<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="crypto-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `crypto-card`
     * Informacion de crypto-card
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoCard extends Polymer.Element {
      static get is() { return 'crypto-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'crypto-card'
          }
        };
      }
    }

    window.customElements.define(CryptoCard.is, CryptoCard);
  </script>
</dom-module>
