<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="crypto-card">
    <template>
    <style>
      :host {
        display: block;
      }
      h2{
        display: grid;
        justify-content: center;
      }
      .container{
        background-color: rgb(216, 216, 216);
        width: 100%;
        height: 300px;
      }
      table{
        padding-top: 5px;
        width: inherit;
      }
    </style>
    <!--Maquetacion de componenets-->
    <h2>[[prop1]]</h2>
    <!--Container-->
    <section class="container">
        <table>
          <thead>
            <tr>
              <th colspan="2">ID</th>
              <th colspan="3">Description</th>
              <th colspan="2">Callency</th>
              <th colspan="2">Acco</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
  
        </table>
  
      </section>
  </template>

    <script>
        /**
         * `crypto-card`
         * Informacion de crypto-card
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class CryptoCard extends Polymer.Element {
            static get is() {
                return 'crypto-card';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Crypto Info'
                    }
                };
            }
        }

        window.customElements.define(CryptoCard.is, CryptoCard);
    </script>
</dom-module>